.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-error {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 90%;
}

.main div.sent-form-message {
  width: 90%;
  font-size: 1.3rem;
}

input.input,
textarea {
  color: var(--text-primary);
  font-family: "Lato", sans-serif;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

div.message.success {
  width: 100%;
  display: flex;
  justify-content: center;
}

label {
  font-size: 14px;
}

label,
textarea {
  display: block;
  margin-top: 1rem;
}

.form button.cta-button {
  align-self: center;
}

.form-error {
  display: none;
  font-size: 0.8rem;
  color: red;
  margin-top: 3px;
}

@media only screen and (min-width: 768px) {
  .main div.sent-form-message {
    width: 50%;
  }

  .form {
    width: 50%;
  }
}
