.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3rem;
}

.header a {
  text-decoration: none;
  margin: 1rem 0.5rem 0.5rem 0;
  padding: 0.5rem;
  background: var(--green-light);
  color: var(--text-primary);
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-top: 0;
  }

  .header a {
    margin: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .header a {
    margin: 0.8rem;
  }
}
