#header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#header a {
  text-decoration: none;
  margin: 1rem 0.5rem 0.5rem 0;
  padding: 0.8rem;
  background: var(--green-light);
  color: var(--text-primary);
}
