#header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10%;
}

#header a {
  text-decoration: none;
  margin: 1rem 0.5rem 0.5rem 0;
  padding: 0.8rem;
  background: var(--green-light);
  color: var(--text-primary);
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  #header {
    margin-top: 2%;
  }

  #header a {
    padding: 1rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  #header {
    margin-top: 0;
  }

  #header a {
    margin: 1rem 3rem;
  }
}
