.show-nav {
  left: 0;
}

@media only screen and (max-width: 768px) {
  #nav {
    background: var(--text-primary);
    width: 300px;
    height: 100vh;
    position: relative;
    left: -300px;
    transition: 0.4s;
  }

  #nav .nav-item {
    font-size: 20px;
    padding: 20px 24px;
  }

  #nav .nav-item a {
    color: var(--green-light);
    text-decoration: none;
    position: relative;
    top: 10rem;
    left: 2rem;
  }

  img.toggle-btn {
    width: 40px;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}

@media only screen and (min-width: 769px) {
  img.toggle-btn {
    display: none;
  }
}
