#sidebar {
  padding: 2rem 0;
}

#sidebar a.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.logo-img {
  width: 40%;
}

#sidebar a.logo h2.logo-text {
  font-family: "Caveat Brush", cursive;
  font-size: 25px;
  color: var(--text-primary);
  text-decoration: none;
}

#sidebar div.search {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.sidebar div.search button.search-button {
  padding: 0 2rem;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  color: var(--text-primary);
  font-weight: bold;
  letter-spacing: 2px;
}

#sidebar div.categories {
  display: flex;
  justify-content: center;
}

#sidebar div.categories div.categories-self {
  display: flex;
  flex-direction: column;
}

#sidebar div.categories div.categories-self h3.heading-categories {
  font-family: "Pacifico", cursive;
  text-decoration: underline;
}

#sidebar div.categories div.categories-self a {
  text-decoration: none;
  color: var(--text-primary);
  padding-top: 1rem;
  border-bottom: 1px dashed var(--text-primary);
}

@media only screen and (min-width: 1024px) {
  input#search-input {
    width: 60%;
    height: 3rem;
  }
}
