@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato:wght@300;400&family=Pacifico&display=swap");

/*
CSS rules to specify families:

font-family: 'Lato', sans-serif;
font-family: 'Caveat Brush', cursive;
font-family: 'Pacifico', cursive;
*/

:root {
  --text-primary: #014f4e;
  --text-headings: #016866;
  --turquise: #04bfad;
  --green-light: #bfe3bb;
  --beige: #f2f2f2;
  --coral: #f29bb2;
}
